.button{
    background-color: white;
    color: navy;
    text-decoration: none;
    border: 1.5px solid navy;
}

.button:hover{
    color: white;
    background-color: navy;
    border: 1.5px solid navy;
}

.blogContainer{
    border: 3px solid navy;
}

.blogContainerName{
    background-color: rgb(111, 178, 255);
    border-bottom: 3px solid navy;
    color: white;
    height: 45px;
}

.bgColorLightBlue{
    background-color: rgb(111, 178, 255);
}