* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.footer-span {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: 8px auto;
  position: absolute;
  z-index: -1
}

.button{
  background-color: white;
  color: navy;
  text-decoration: none;
  border: 1.5px solid navy;
  min-width: 62px;
}

.button:hover{
  color: white;
  background-color: navy;
  border: 1.5px solid navy;
}